$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$bgColor: #ffffff;
$textColor: #858585;
$darkColor: #212121;
$lightColor: #414141;
$mainColor: #0EA9EC;

$fontFamily: "Montserrat";
$fontSize: 16;