.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 25px;
    &__wrapper {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(137 126 255 / 50%);
      visibility: hidden;
    }
    &__button {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: #ab6ce9;
      color: #ffffff;
      cursor: pointer;
    }
    &__title {
      color: #000000;
      font-size: 24px;
      font-weight: bold;
    }
    &__info {
      margin-top: 30px;
    }
}
.show {
    visibility: visible;
    animation: fadeIn 0.5s
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.popup-item {
  display: grid;
  grid-template-columns: 180px 1fr;
  margin: 15px 0;
  &__title {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
  }
  &__description {
    font-size: 14px;
    line-height: 20px;
  }
}
._column {
  display: flex;
  flex-direction: column;
}